<h4>Crea nuevo proyecto</h4>
<form action="/proyectos/update" method="POST" enctype="multipart/form-data">
    <div class="form-group mb-2">
        <label>Titulo</label>
        <input type="text" name="titulo" class="form-control" value="{{proy.titulo}}">
    </div>
    <div class="form-group mb-2">
        <label>Descripcion</label>
        <input type="text" name="descripcion" class="form-control" value="{{proy.descripcion}}">
    </div>
    <div class="form-group mb-2">
        <label>Url</label>
        <input type="text" name="url" class="form-control" value="{{proy.url}}">
    </div>
    <div class="form-group mb-2">
        <label>Cliente</label>
        <input type="text" name="cliente" class="form-control" value="{{proy.cliente}}">
    </div>
    <div class="form-group mb-2">
        <label>Url Cliente</label>
        <input type="text" name="url_cliente" class="form-control" value="{{proy.url_cliente}}">
    </div>
    <div class="form-group mb-2">
        <label>Categoria</label>
        <select name="categoria" class="form-control" value="{{proy.categoria}}">
            <option value="angular">Angular</option>
            <option value="wordpress">Wordpress</option>
            <option value="nodejs">NodeJS</option>
            <option value="frontend">Frontend</option>
            <option value="backend">Backend</option>
        </select>
    </div>
    <div class="form-group mb-2">
        <label class="d-block">Imagen</label>
        <input type="file" name="imagen">
    </div>
    <input type="hidden" name="proyectoId" value="{{proy._id}}">
    <input type="submit" value="Enviar" class="btn btn-primary w-100 mt-2">
</form>